@{
    ViewBag.Title = "Contact";
}
@section scripts
{
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>   
    <script src="http://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}
<!-- Page Content -->
<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                    Contact us! <small>         ... or don't!</small>
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-8">
        <div class="well well-sm">
            <form method="post">
                <fieldset>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <span class="field-validation-valid" data-valmsg-for="name" data-valmsg-replace="true" style="float: right"></span>
                                <input class="form-control" id="name" placeholder="Enter name" name="name"
                                       data-val="true" data-val-required="*" type="text" value="" />

                            </div>
                            <div class="form-group">
                                <label class="" for="email">Email Address</label>
                                <span class="field-validation-valid" data-valmsg-for="email" data-valmsg-replace="true" style="float: right"></span>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                    </span>
                                    <input class="form-control" id="email" placeholder="Enter email" name="email" data-val-email="Please enter a valid email."
                                           data-val="true" data-val-required="*" type="text" />

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="" for="subject">Subject</label>
                                <span class="field-validation-valid" data-valmsg-for="subject" data-valmsg-replace="true" style="float: right"></span>
                                <select id="subject" name="subject" class="form-control" data-val="true" data-val-required="*" required>
                                    <option value="" selected="">Choose One:</option>
                                    <option value="service">General Customer Service</option>
                                    <option value="suggestions">Suggestions</option>
                                    <option value="product">Product Support</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Message</label>
                                <span class="field-validation-valid" data-valmsg-for="message" data-valmsg-replace="true" style="float: right"></span>
                                <textarea name="message" id="message" class="form-control" rows="9" cols="25"
                                          placeholder="Message" data-val="true" data-val-required="*"></textarea>

                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary" id="btnContactUs">
                                Send
                            </button>
                            @if (ViewBag.MailSent != null && ViewBag.MailSent)
                            {
                                <div>Mail Sent!</div>
                            }
                        </div>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>
    <div class="col-md-4">
        <form>
            <legend><span class="glyphicon glyphicon-globe"></span> Our office</legend>
            <address>
                <strong>The COMPANY</strong><br>
                795 Folsom Ave, Suite 600<br>
                San Francisco, CA 94107<br>
                <abbr title="Phone">
                    P:
                </abbr>
                (123) 456-7890
            </address>
            <address>
                <strong>Full Name</strong><br>
                <a href="mailto:#">first.last@example.com</a>
            </address>
        </form>
    </div>
</div>
l>
